body{
	background-color: #F5F0EB;
	padding: 0px;
	margin: 0px;
	font-family: 'Rokkitt', serif;

}

.wrap{
	background: white;
	margin: 0 auto;
	width: 1020px;
	margin-top: 50px;
	height: 720px;
	margin-bottom: 50px;
	padding: 15px;	
}

#banner2{
	height:55px;
	background-color: white;
	width:100%;
	font-size: 50pt;
	text-indent: 10px;

}

nav{}

nav ul{
	list-style: none;
	padding-left: 0px;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	height: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 20pt;
}

nav ul li{
	width: 17%;
	float: left;
	height: 100%;
	text-indent: 10px;
}

nav ul li:hover{
	color: orange;
	cursor: pointer;
}
.mainArea {
	clear:both;
}

.typewriter {
	width: 550px;
	height: 250px;
	margin: 0 auto;	
}


.samples-box {
	float: left;
    width: 49.7%;
    height: 275px;
    border: 1px solid black;  
}

p {
	padding: 3px
}

.aboutme {
	clear: both;	
    width: 1020px;
   	margin-left:0 auto;
   	margin-right: 0 auto;
   	height: 700px;
   	padding:10px;
}

.column1 {
   	  float: left;
   	  width: 48%;
   	  height: 100%;
   	  margin: 1px;
}

.column2 {
   	  float: left;
   	  width: 48%;
   	  height: 100%;
   	  margin: 1px;
}

.photo {
      clear: both;
      width: 330px;
      margin: 0 auto;

}

.contact {
	clear: both;	
    width: 1020px;
   	margin-left:0 auto;
   	margin-right: 0 auto;
   	height: 700px;
   	padding:10px;
   	position: relative;
}


