body{
	background-color: #F5F0EB;
	padding: 0px;
	margin: 0px;
	font-family: 'Rokkitt', serif;
}

.wrap{
	background: white;
	margin: 0 auto;
	width: 1020px;
	margin-top: 50px;
	height: 720px;
	margin-bottom: 50px;
	padding: 15px;	
}

#banner2{
	height:55px;
	background-color: white;
	width:100%;
	font-size: 50pt;
	text-indent: 10px;

}

nav{}

nav ul{
	list-style: none;
	padding-left: 0px;
	border-top: solid 2px black;
	border-bottom: solid 3px black;
	height: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 20pt;
}

nav ul li{
	width: 17%;
	float: left;
	height: 100%;
	text-indent: 10px;
}

nav ul li:hover{
	color: orange;
	cursor: pointer;
}