body{
	background-color: #F5F0EB;
	padding: 0px;
	margin: 0px
}

.wrap{
	background: white;
	margin: 0 auto;
	width: 1020px;
	margin-top: 50px;
	height: 720px;
	margin-bottom: 50px;
	padding: 15px;	
}

#banner2{
	height:80px;
	background-color: white;
	width:100%;
	font-size: 50pt;
}